[class^="number-slide"],
[class*=" number-slide"] {
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    width: 100vw;
    max-height: 100vh;
}

.slider_content {
    @apply bg-zinc-950;
    background: linear-gradient(
        0deg,
        rgba(9, 9, 11, 1) 2%,
        rgba(9, 9, 11, 0.6) 20%,
        rgba(255, 255, 255, 0) 35%
    );

    background-repeat: no-repeat;
    background-size: cover;
}

.arrow--disabled {
    fill: rgba(255, 255, 255, 0.5);
}
